# APPLICATION
PORT=8080
NODE_ENV=development

# DATABASE
DB_HOST=localhost
DB_PORT=27017
DB_USER=root
DB_PASSWORD=root
DB_NAME=green_life_db

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=1
REDIS_KEY_PREFIX=green-life

# JWT
JWT_SECRET=your-secret-key
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

# SWAGGER
SWAGGER_SITE_TITLE=Green Life API
SWAGGER_DOC_TITLE=Green Life
SWAGGER_DOC_DESCRIPTION=Hệ thống Backend cho cửa hàng Green-Life - Chuyên các sản phẩm bảo vệ môi trường
SWAGGER_DOC_VERSION=1.0
